*{
	margin:0;
	padding:0;
}
.mauxanh{
	height: 40px;
	background: #4267b2;
}
.phantu{
	position: relative;
	float: right;
	margin-right: 300px;
}
.tamgiac{
	color: #000000;
	font-size: 22px;
	cursor: pointer;
}
.danhsach{
	position: absolute;
	top:40px;
	right: -23px;
	width: 200px;
	transition: 0.4s;
	opacity: 0;
	visibility: hidden;
}
.danhsach:after{
	content: "";
	position: absolute;
	top: -20px;
	width:0;
	height: 0;
	right: 18px;
	border: 11px #4267b2 solid;
	border-bottom-color: #ffffff;
}
.hienra{
	opacity: 1;
	visibility: visible;
}