*{
	margin:0;
	padding:0;
}
html,body{
	height: 100%;
	overflow-x: hidden;
	background: #999966;
}
.noidungto{
	height: 100%;
	transition: cubic-bezier(.64,-0.2,.94,.01) 0.5s;
	box-sizing: border-box;
	perspective: 1200px;
}
li.list-group-item{
	background: none;
	color: #ffffff;
	text-transform: uppercase;
}
.menu-trai{
	height: 100%;
	width: 250px;
	background: #28a745;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	transition: 0.5s;

}
.menu-trai.sang-trai{
	transform: translateX(-100%);
}
.nut{ 
	width: 70px;
	margin: 0 auto;
	display: block;
}
.den{
	position: fixed; 
	top: 0;
	left: 0;
	z-index: 1;
	background: #00000091;
	width: 100%;
	height: 100%;
	cursor: pointer;  
	transition: 0.5s;
	opacity: 0;
	visibility: hidden;
}
.den.hien-len{
	opacity: 1;
	visibility: visible;
}
.dich-phai{
	transform: translateX(250px);
}
.mautrang{
	width: 100%;
	height: 100%;
	background: #ffffff;
	transition: 0.5s;
	transform-origin: 100% 0%;
	
}
.trangquay{
	transform: rotateY(-20deg);
}